:root {
    --full: 100%;
}

body {
    margin: 0;
    background: #ebebeb;
}

.header {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.header img {
    width: 200px;
}

.nav {
    padding: 0 15px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.nav-btn {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav i {
    cursor: pointer;
}

.nav-trigger {
    display: none;
}

.nav-trigger:checked + .nav-list {
    display: block;
}

.nav a {
    color: #333;
}

.nav-list {
    display: none;
}

.nav-item {
    position: relative;
    height: 56px;
    padding: 0 21px;
    display: flex;
    align-items: center;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e67e22;
}

.main {
    width: var(--full);
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.article {
    margin-top: 35px;
    padding: 35px;
    background-color: #fff;
    line-height: 1.5;
}

.article address {
    text-align: center;
    color: #959599;
    font-style: normal;
}

.article h2 {
    text-align: center;
    font-size: 35px;
}

.article address a {
    color: #959599;
}

.article p {
    margin-top: 25px;
    word-break: break-all;
}

.article-read {
    display: inline-block;
    padding: 10px;
    margin: 30px 0;
    cursor: pointer;
    border-radius: 5px;
    background: #e67e22;
    color: white;
}

.article section {
    border-top: 1px #ebebeb solid;
    padding-top: 20px;
}

.article section a {
    color: #505050;
}

.main .affix {
    background: white;
    padding: 35px;
    margin-top: 35px;
}

.main .affix h3 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px #cccccc solid;
}

.main .affix a {
    display: block;
    padding: 10px;
    margin-top: 30px;
    background: #e67e22;
    color: white;
}

.main .affix .label {
    border: 1px #ebebeb solid;
    display: inline-block;
    margin: 11px 7px 0 0;
    padding: 5px 10px;
}

.footer {
    margin-top: 35px;
    padding-top: 35px;
    background: #202020;
    overflow: hidden;
}

.footer .affix {
    padding: 0 30px;
    margin-bottom: 30px;
    background: #202020;
}

.footer .affix h3 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px #cccccc solid;
    color: white;
    font-size: 22px;
}

.footer .affix .label {
    margin: 10px;
    display: inline-block;
    color: #959595;
}

.copyright {
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #555555;
}
